@inherits MainLayoutModel

<div class="page">
    <div class="navigation">
        <TopNav />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
